@import "normalize.css";

* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-size: 18px;
    width: 200px;
}

button {
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: darkgreen;
    color: white;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px;
    transition: background-color 0.8s;
}

button:hover {
    cursor: pointer;
    background-color: #52bc72;
}

#purchaseContainer {
    margin: auto;
    margin-top: 15px;
    padding: 0 10px;
}

.buttonContainer {
    display: grid;
    grid-template-columns: 20% auto;
}

.buttonContainer:nth-child(even) {
    background-color: lightslategray;
    color: white;
}

.delte, .entry {
    margin: 0;
    padding: 15px 8px;
}

.delete {
    background-color: red;
    margin: auto;
    padding: 2px 6px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
}

.delete:hover {
    background-color: darkred;
}

#total {
    margin: 0;
    margin-top: 10px;
    padding: 15px;
    background-color: green;
    color: white;
    text-align: center;
}